*{ margin:0; padding:0; }
a{ text-decoration:none; }
li{ list-style:none; }
html,body{ font-size:12px; font-family:"微软雅黑"; color:#585959; }
.clearfix:after{content:"."; display:block; clear:both; font-size:0; overflow:hidden; height:0;}
.clearfix{zoom:1;}
.Wrapper{width:1000px; margin:0 auto;}
.wrapper{width:907px; margin:0 auto;}
.left{float:left;}
.right{float:right;}



.ml{ margin-left:15px; }
.mr{ margin-right:px; }