h2.Titletext{ line-height:110px; text-align:center; font-size:40px; color:#fff; background:url(../image/titlebg.png) center no-repeat; }

.header{ background:#ca2323; }

.box1{ margin:30px auto 40px; }
.box1 .left{ width:568px; }
.box1 .left p{ line-height:35px; font-size:20px; color:#585959; }
/*.box1 .left h1,.box1 .left h2{ text-align:center; color:#cf2525; }
.box1 h1 { margin-bottom:8px; font-size:82px; line-height:82px; }
.box1 h2{ margin-bottom:32px; font-size:66px; line-height:68px; }*/

h1.title1{ margin:38px auto 43px; text-align:center; font-size:43px; line-height:43px; font-weight:normal; color:#cf2525; }
h1.title1 p{ margin-top:18px; font-size:24px; }

.box2 p{ line-height:52px; text-align:center; font-size:16px; }
.box2 p.text{ text-align:left; line-height:36px; font-size:24px; }
.box3 h1{ margin:30px auto 35px; font-size:42px; color:#cc2626; }
.box3 p{ text-align:center; line-height:54px; font-size:16px; }

.story img{ float:left; }
.story p{ float:left; width:248px; line-height:24px; font-size:14px; }
.story div {margin-top:22px; }


.box5 h2{ margin:58px auto 40px; }
.box5 img.left{ margin-top:8px; }
.box5 div .right{ width:576px; }
.box5 div .right p{ margin:0 10px; line-height:32px; font-size:16px; color:#585959; }
.box5 div .right img{ margin-right:5px; }
.box5 div .right div{ margin-top:3px; }


/*.box6 h1{ margin-top:120px; margin-bottom:70px; text-align:center; font-size:64px; line-height:64px; color:#01938e; }
*/.box6 dl { margin-bottom:60px; } 
.box6 dl ul{ width:406px; margin-top:25px; line-height:54px; font-size:24px; color:#595858;  }
.box6 dl dt,.box6 dl dd{ float:left; }
.box6 dl dd h2{ width:240px; padding-bottom:10px; border-bottom:6px solid #01938e; font-size:32px; color:#01938e; }
.box6 dl dt h2{ width:240px; padding-bottom:10px; border-bottom:6px solid #ef6a63; font-size:32px; color:#ef6a63; }

.box7 img{ float:left; margin:0 3px; }
.box7 h2{ margin-bottom:8px; font-size:50px; }
.box7 div{ margin-top:55px; }

.box8 h1{ font-size:318px; color:#cf2525; } 
.box8 h2{ font-size:98px; line-height:98px; color:#cf2525; }
.box8 p{ margin:0 0 40px; line-height:48px; font-size:24px; color:#585959; }

.box9 h2{ margin-bottom:30px; margin-top:35px; font-size:44px; text-align:center; color:#ca2323;}
.box9 ul li h3{ float:left; width:115px; height:22px; margin-top:8px; margin-right:8px; line-height:22px; padding-right:5px; border-right:2px solid #585959; font-size:22px; color:#585959; }
.box9 ul li p{ float:left; width:770px; line-height:36px; font-size:22px; }
.box9 .right{ width:457px; }
.box9 .right img{ float:left; margin:5px 5px 0 0; }
.box9 .right p{ line-height:38px; font-size:24px; color:#585959 }
.box9 .right p.hint{ margin-top:25px; font-size:22px; }

.footer{ height:30px; margin-top:52px; line-height:30px; text-align:center; font-size:18px; color:#fefefe; background:#707070; }
.contact{ height: 80px;line-height: 80px;background: #ca2323;position: fixed;bottom: 0;width: 100%;color: #ffffff;text-align: center;display: none; }
.contact span{ margin: 0 50px;font-size: 40px;color: #FFFFFF; }
.contact span a{ color: #FFFFFF; }
.contact span img{ margin-right: 10px;width: 40px;margin-bottom: -5px; }
@media screen and (max-width:1334px){ 
.footer { margin-bottom: 80px; }
.contact { display: block; }
}


