/* CSS Document */

/* CSS Document */



.zmtWechat{

			width:100%;



			height:80px;

			position:fixed;

			bottom:0px;

			

}


.wechatIcon{

			

			vertical-align: middle;

			

}
.we1{ 			text-align: center;
			background:#ca2323;
			position:relative;zoom:1; overflow:hidden;

			color:#FFFFFF;

			float:left;

			width:50%;

			height:100px;

			line-height:80px;

			font-size:3em;

			padding-top:0px;
			a

}

.we1 a{

			color:#FFFFFF;

			text-decoration:none;

}

.we2{
			text-align: center;
			width:50%;

			background:#ca2323;

			height:80px;

			line-height:80px;

			float:left;

			color:#FFFFFF;

			padding-top:0px;
			
			font-size:3em;

}
.zmtWechat{

			width:100%;

			height:80px;

			position:fixed;

			bottom:0px;

			

}



.xx{

			width:240px;

			vertical-align: middle;

			

}

			



.wechatBox{

		display: none;

		width:100%;

		height:100%;

		position:fixed;

		top:0px;

		z-index: 5;

}

		

		

.wechat{

		position:fixed;

		top:20%;

		width:80%;

		right:10%;

		left:10%;            

		color:#666;

		text-align:center;

		-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);

		-moz-box-shadow: 1px 1px 2x rgba(0, 0, 0, 1);

		box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
		border-radius: 20px;

		-moz-border-radius: 20px;

		-webkit-border-radius: 20px;

		background: #fff;

		z-index: 5000;

		display: none;
		padding:80px 0px;

}

.wechatimg{

		position:fixed;

		top:20%;

		width:80%;

		right:10%;

		left:10%;            

		color:#666;

		text-align:center;

		-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);

		-moz-box-shadow: 1px 1px 2x rgba(0, 0, 0, 1);

		box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
		border-radius: 20px;

		-moz-border-radius: 20px;

		-webkit-border-radius: 20px;

		background: #fff;

		z-index: 5000;

		display: none;

}
.wechatimg img{ width:100%}

.wechat .p1{

	font-size:4em;
	font-weight: bold;

}

.wechat .p2{

	font-size:3.2em;

}

.wechat .wxid{
		font-size:3.6em;
		background-color:#f62796;

		color:#FFF;

		padding:40px;
		margin:80px 0px;

}